body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: no-repeat center/ cover
    url(https://static.kinguin.net/media/category/a/p/apps.12149.69254151049826377.e1b53de3-db13-4bf7-bff8-cfd99840b5eb.2d02bedd-8dd9-4139-9c2e-441992a14ecc_1590754104_1.jpg);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.game {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.game__menu {
  display: flex;
  border: 1px solid #000;
  margin-bottom: 10px;
  padding: 5px;
  gap: 10px;
}

.car-select,
.oponents-select,
.compare {
  display: flex;
  padding: 5px;
  border: 1px solid #000;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff55;
}

.car-select__title,
.oponents-select__title,
.compare__title {
  text-align: center;
  margin: 0 0 10px;
}

.car-select__list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.car-select__name {
  text-align: center;
  padding: 0;
  margin: 0 0 10px;
}

.car-select__car-type {
  width: 170px;
  padding: 10px;
  border: 3px solid #616161;
  background-color: #fff;
}

.car-select__car-type:hover {
  border: 3px solid #18ce18;
  cursor: pointer;
}

.car-select__stat-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.car-select__stat-container {
  display: flex;
  justify-content: space-between;
}

.car-select__add-stat {
  visibility: hidden;
}

.car-select__active {
  background-color: #78ff78;
  border: 3px solid #1389ea;
}

.car-select__active .car-select__add-stat {
  visibility: visible;
}

.panel {
  display: flex;
  gap: 10px;
  max-width: 358px;
  justify-content: center;
  margin: 0 auto 10px;
  padding: 10px;
  border: 1px solid #000;
}

.panel__power-reserv {
  background-color: #efefef;
  padding-left: 5px;
  width: 200px;
}

.road {
  width: 100%;
  height: 500px;
  background: rgb(130, 130, 131);
  background: linear-gradient(
    0deg,
    rgba(130, 130, 131, 1) 49%,
    rgba(255, 255, 255, 1) 50%,
    rgba(130, 130, 131, 1) 51%
  );
  position: relative;
}

.road__cars {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.road__car {
  width: 90px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.road__car_user {
  background-color: #18ce18;
}

.road__car_oponent {
  background-color: #ea1818;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.popup_hidden {
  visibility: hidden;
}

.popup__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #000;
  background: no-repeat center/ cover
    url(https://phonoteka.org/uploads/posts/2021-04/1619222035_2-phonoteka_org-p-fon-dlya-gonok-2.jpg);
  max-width: 1000px;
}

.popup__compare-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.popup__button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.car {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #000;
  background-color: #ffffffbb;
}

.done {
  background-color: #b3fcb356;
}
